div[class^="col-"]{ padding:5px; }

.max-width-1200-center{
    max-width: 1200px;
    margin:0 auto;
}

.post-mini{
    width: 100%;
    border:1px solid #dddddd;
    border-radius: 2px;
    float: left;
    display: block;
}

.post-mini-title{
    width: 100%;
    text-align: left;
    float: left;
}

.post-mini-title a{
    padding: 3px;
    text-decoration: none;
}

.post-mini-top{
    width: 100%;
    float: left;
    display: block;
}

.post-mini-top a{
    float: left;
    padding: 5px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
}

.post-mini-top span{
    float:right;
    padding: 5px;
    text-decoration: none;
    font-size: 12px;
    color: #666666;
}

.post-mini-main{
    width: 100%;
    text-align: left;
    position: relative;
    float: left;
}

.post-mini-img{
    position: relative;
}

.post-mini-img-des{
    margin: 0px;
    padding: 5px;
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    color:#ffffff;
    bottom: 0px;
    left: 0px;
    width: 100%;
}


/* ~~~~~~~~ add post view ~~~~~~~~*/
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}